@tailwind base;
@tailwind components;
@tailwind utilities;

.header-section {
    background-image: url("~/src/images/kara.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 40vh;
}